version: "3.9"

services:
  # db:
  #   image: postgres:16-alpine
  #   container_name: taskboard-db
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: postgres
  #     POSTGRES_DB: taskboard
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - pgdata:/var/lib/postgresql/data

  backend:
    image: ghcr.io/firasmosbehi/task-board/backend:latest
    container_name: taskboard-backend
    environment:
      DB_HOST: ${rds_endpoint}   # RDS endpoint from Terraform
      DB_PORT: ${rds_port}   # RDS port from Terraform
      DB_USER: ${rds_username}   # RDS username from Terraform
      DB_PASSWORD: ${rds_password}   # RDS password from Terraform
      DB_NAME: ${rds_db_name}   # RDS database name from Terraform
      FRONTEND_ORIGIN: http://${ec2_public_dns}   # Nginx frontend
      PORT: 8080
    # depends_on:
    #   - db
    ports:
      - "8080:8080"

  frontend:
    image: ghcr.io/firasmosbehi/task-board/frontend:latest
    container_name: taskboard-frontend
    depends_on:
      - backend
    ports:
      - "8000:80"   # App reachable on http://localhost
    environment:
      VITE_API_URL: http://${ec2_public_dns}   # Backend API URL

  otel-collector:
    image: otel/opentelemetry-collector:latest
    command: ["--config=/etc/otel-collector-config.yml"]
    volumes:
      - ./config/otel/otel-collector-config.yml:/etc/otel-collector-config.yml
    expose:
      - "4317" # gRPC
      - "4318" # HTTP
    ports:
      - "8888:8888" # Debug metrics
      - "8889:8889" # Prometheus metrics
    depends_on:
      - backend
      - frontend

  prometheus:
    image: prom/prometheus
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"

  alloy:
    image: grafana/alloy:latest
    container_name: taskboard-alloy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock           # read docker logs
      - ./config/alloy/config.alloy:/etc/alloy/config.alloy
    command: ["run", "/etc/alloy/config.alloy"]
    depends_on:
      - loki
    ports:
      - "12345:12345"  # Alloy UI (optional)

  loki:
    image: grafana/loki:2.9.2
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml 
    volumes:
      - loki-data:/loki

  tempo:
    image: grafana/tempo:2.3.1
    container_name: taskboard-tempo
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./config/tempo/tempo.yaml:/etc/tempo.yaml
      - tempo-data:/tmp/tempo
    ports:
      - "3200:3200"   # Tempo API  

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: adminn
      GF_SERVER_ROOT_URL: /grafana
    volumes:
      # automatically configure datasources
      - ./config/grafana/datasources.yaml/:/etc/grafana/provisioning/datasources/sources.yaml
      - ./config/grafana/dashboard.yaml:/etc/grafana/provisioning/dashboards/main.yaml
      - ./config/grafana/dashboards:/var/lib/grafana/dashboards
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus


volumes:
  # pgdata:
  tempo-data:
  loki-data:
  prometheus-data:
  grafana-data: