name: Deploy EC2 + RDS

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest
    outputs:
      tf_artifact: ${{ steps.upload.outputs.artifact-name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0

      - name: Terraform Init & Apply
        working-directory: terraform/envs/dev
        run: |
          export AWS_ACCESS_KEY_ID="${{ secrets.AWS_ACCESS_KEY_ID }}"
          export AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          terraform init
          terraform apply -auto-approve

          export TF_CLI_ARGS="-no-color"
          export TERRAFORM_WRAPPER=""
          terraform output -json > tf_outputs.json

      - name: Upload Terraform Outputs
        id: upload
        uses: actions/upload-artifact@v4
        with:
          name: tf-outputs
          path: terraform/envs/dev/tf_outputs.json

  deploy:
    name: Ansible Deployment
    runs-on: ubuntu-latest
    needs: terraform
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Terraform Outputs
        uses: actions/download-artifact@v4
        with:
          name: tf-outputs
          path: terraform/envs/dev

      - name: Write SSH private key
        run: |
          mkdir -p ressources/ssh-keys
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ressources/ssh-keys/my-key
          chmod 600 ressources/ssh-keys/my-key

      - name: Replace Terraform placeholders
        run: |
            set -e

            export LC_ALL=en_US.UTF-8
            export LANG=en_US.UTF-8

            TF_FILE="terraform/envs/dev/tf_outputs.json"

            echo "Using Terraform outputs from: $TF_FILE"
            jq '.' "$TF_FILE" >/dev/null   # sanity check (will fail if JSON is broken)

            # Loop over all Terraform outputs
            jq -r 'keys[]' "$TF_FILE" | while read -r key; do
            value=$(jq -r ".\"$key\".value" "$TF_FILE")

            echo "Replacing placeholder \${$key} with $value"

            # Replace in ansible directory
            find ansible \
                -type f \
                ! -path "./terraform/*" \
                ! -name "*.png" ! -name "*.jpg" ! -name "*.zip" \
                -exec sed -i.bak "s|\${$key}|$value|g" {} \; \
                -exec rm -f {}.bak \;

            # Replace in application directory
            find application \
                -type f \
                ! -path "./terraform/*" \
                ! -name "*.png" ! -name "*.jpg" ! -name "*.zip" \
                -exec sed -i.bak "s|\${$key}|$value|g" {} \; \
                -exec rm -f {}.bak \;
            done

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Run Ansible Playbook
        run: ansible-playbook -i ansible/inventory/dev.ini ansible/playbooks/deploy.yml
